* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
}

h1 {
    font-size: 30px !important;
    font-weight: bold;
}

p {
    font-size: 20px !important;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

button {
    background-color: plum;
    border: 2px solid purple;
    border-radius: 5px;
    width: fit-content;
    font-size: 15px;
}

main {
    display: flex;
    justify-content: center;
}

.container {
    position: fixed;
    top: 100px;
    width: 60%;
}

.default {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hidden {
    display: none;
}

.question {
    font-size: 30px;
}

.answer {
    font-size: 20px;
    display: block;
}

.question-section, ul, .endgame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.endgame {
    border: 4px pink solid;
    padding: 5px 0px 5px 15px;
    border-radius: 5px;
}